<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.pdfpicker.aman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFPicker">
        <activity
            android:name=".ui.java.PdfPickerJavaActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.kotlin.PdfPickerKotlinActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>